

.main{width:990px; margin:0 auto; text-align:left;}

/*=========page_1===========*/
#page_1 #page_body .col_1{width:455px;}
#page_1 #page_body .mid{width:53px;}
#page_1 #page_body .col_2{width:185px;}
/*========//page_1===========*/

